<<<<<<< HEAD
body {background-color: rgb(225, 226, 218);}

.App h1{
  text-align: center;
   background-color: #46259c; 
=======
body {
  background-color: rgb(225, 226, 218);
}

.radio {
  /* width: 100%; */
  /* border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center; */
  text-align: center;
  display: grid;
  grid-gap: 10px; /* Simply adjust this value !*/
  grid-template-columns: repeat(
    3,
    1fr
  ); /* OR grid-template-columns: 1fr 1fr 1fr;*/
  grid-auto-rows: 1fr;
  border: 1px solid green;
}
.choice {
  display: inline-block;
  /* border: 1px solid red; */
  /* padding: 1rem 1rem; */
  vertical-align: middle;
}
.App h1 {
  text-align: center;
  background-color: #46259c;
>>>>>>> feature/feature-Add-react-app-client
  color: #e6dcdc;
  padding: 20px;
  border: 6px solid #2875b8;
  border-radius: 20px;
}

.App h2 {
  font-size: 20px;
  display: inline-block;
<<<<<<< HEAD
  position:relative;
  left:240px;
  top:30px;
  background-color: #96a1ef;
    color: white;
    border-radius: 9px;
    /* padding: 5px; */
=======
  position: relative;
  left: 240px;
  top: 30px;
  background-color: #96a1ef;
  color: white;
  border-radius: 9px;
  /* padding: 5px; */
>>>>>>> feature/feature-Add-react-app-client
}

.App .custom-select {
  position: relative;
  font-family: Arial;
}

<<<<<<< HEAD
.App .custom-select label{
  display: block;
  font-family: arial;
  /* padding-right: 10px; */
   margin-left: 50px; 
=======
.App .custom-select label {
  display: block;
  font-family: arial;
  /* padding-right: 10px; */
  margin-left: 50px;
>>>>>>> feature/feature-Add-react-app-client
  margin-top: 50px;
  color: #282c34;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px rgb(183, 183, 189);
}

<<<<<<< HEAD
.App .custom-select select{
=======
.App .custom-select select {
>>>>>>> feature/feature-Add-react-app-client
  font-size: 0.9rem;
  padding: 2px 5px;
  margin-left: 135px;
  margin-top: 10px;
  border-radius: 25px;
  border: 2px solid #3cb4df;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
