.SupplierChoice form input {
  /* float: right; */
  /* float: left; */
  /* display: inline-block;
  vertical-align: text-top;
  margin: 0 auto; */
  /* display: grid; */
  position: relative;
  bottom: 1px;
}
.SupplierChoice h3 {
  text-align: left;
  /* background-color: #46259c; */
  text-shadow: 1px 1px#b2b8b8;
  padding-left: 30px;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  /* border: 6px solid #2875b8; */
  /* border-radius: 20px; */
  height: 30px;
  font-family: Trebuchet MS;
}

.SupplierChoice form label {
  padding-left: 50px;
  font-size: 20px !important;
  width: 300px;
  height: 50px;
  font-family: Trebuchet MS !important;
  text-shadow: none !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
