.submitChoice {
<<<<<<< HEAD
  background-image: linear-gradient(
    90deg,
    rgba(89, 95, 118, 1) 0%,
    rgba(86, 100, 190, 1) 49%,
    rgba(118, 144, 196, 1) 87%
  );
  padding: 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.submitChoice h1 {
  font-size: 40px;
  margin-top: 30px;
  color: black;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 540;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}
.grid-item {
  margin: 15px !important;
  border: 5px solid #ccc;
  border-radius: 4px;
  background-color: #dddee0;
  transition: background-color 0.2s ease;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* .grid-item:not(:last-child) {
  margin: 10px; 
} */
.grid-item:hover {
  background-color: #c1c0c0;
}

.grid-item h3 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: underline;
}

.grid-item label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  padding-left: 10px;
  margin-right: 20px;
}

.grid-item input[type="checkbox"] {
=======
  display: block;
  text-align: center; /* Center the button within its container */
}
.checkbox-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Add space between components */
  align-items: flex-start;
  margin-bottom: 20px; /* Add some bottom margin */
}

.checkbox-grid h3 {
  font-size: 24px;
  /* font-weight: bold; */
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1rem;
}

.checkbox-grid label {
  /* display: block;
  margin-bottom: 20px;
  font-size: 25px; 
  color: #333;
  font-weight: bold;
  color: #5313a6; */
  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.checkbox-grid input[type="checkbox"] {
  /* display: inline-block;
  vertical-align: left;
  margin-right: 10px;
  margin-bottom: 3px;
  width: 16px;
  height: 16px;
  cursor: pointer; */
>>>>>>> 62b88ebe38a934635a3335cf6d8ad7c66800ea9d
  margin-right: 10px;
  cursor: pointer;
}

<<<<<<< HEAD
.grid-item input[type="checkbox"]:checked::before {
  content: "\2714";
  display: inline-block;
  font-size: 14px;
  color: #1f2123;
=======
.checkbox-grid input[type="checkbox"]:checked::before {
  /* content: '\2713'; */
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* font-size: 16px;
  color: #007bff;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px; */
  content: "\2713";
  display: inline-block;
  font-size: 14px;
  color: #007bff;
>>>>>>> 62b88ebe38a934635a3335cf6d8ad7c66800ea9d
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
<<<<<<< HEAD
  border: 2px solid #707070;
=======
  border: 1px solid #007bff;
>>>>>>> 62b88ebe38a934635a3335cf6d8ad7c66800ea9d
  border-radius: 3px;
  background-color: #fff;
  margin-right: 5px;
}

<<<<<<< HEAD
.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.submitChoice button[type="submit"] {
  background-color: #3b3c43;
=======
/* Additional styling for the form submit button */
/* button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0062cc; */

.submitChoice button[type="submit"] {
  background-color: #0e5487;
>>>>>>> 62b88ebe38a934635a3335cf6d8ad7c66800ea9d
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 40px;
  margin-bottom: 20px;
}

.submitChoice button[type="submit"]:before {
  background-color: initial;
<<<<<<< HEAD
  background-image: linear-gradient(#808080 0, rgba(255, 255, 255, 0) 100%);
=======
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
>>>>>>> 62b88ebe38a934635a3335cf6d8ad7c66800ea9d
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.submitChoice button[type="submit"]:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .submitChoice button[type="submit"] {
    padding: 16px 48px;
  }
}
<<<<<<< HEAD

.errorContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
=======
>>>>>>> 62b88ebe38a934635a3335cf6d8ad7c66800ea9d
